.row{
    flex-direction:row;
    display: flex;
    justify-content: space-between;
    align-items:flex-start;
}

.col{
    flex-direction: column;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cont{
    /*width:300px;*/
    border:1px solid black;
    border-radius:6px;
    padding:10px;
    margin:10px;
    float:left;
}

.buttonLeft{
    margin-right:10px;
}

.item{
    margin:10px;
}
